@font-face{
    font-family: dying;
    src: url(FONTEDYINGLIGHT/BEBAS/BebasNeue-Regular.otf);
}
@font-face {
    font-family: fac;
    src: url(FONTEDYINGLIGHT/EXTRA/intreb.ttf);
}
@font-face {
    font-family: abra;
    src: url(FONTEDYINGLIGHT/ABRADE/abrade.otf);
}
body {
    background-image: url(pag2back.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
header {
    background-color: black;
    width: 100%;
}
.casa1 {
    position:absolute;
    left: 0%;
    padding: 50px;
    top: -2%;
}
.container1 {
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}
.menu a  {
    font-family: fac;
    width: 50%;                             
    padding-right: 30px;
    color: white;
    font-size: large;
    text-decoration: none;
}
.dlc1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

p {
    font-family: abra;
    font-size: 20px;
    color: white;
    padding: 50px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.308);
    margin-left: 100px;
    margin-right: 100px;
    border: 4px solid black;
    border-radius: 30px;
    margin-bottom: 150px;
}


footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.767);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
}

.coluna {
    width: 30%;
}

footer h3 {
    font-size: 18px;
    font-family: dying;
}

footer a{
    text-decoration: none;
    font-size: 20px;
    font-family: dying;
    color:rgba(255, 255, 255, 0.582);
}